<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kopio</title>
  <base href="/">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/js/favicon.ico") %>"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <app-root></app-root>

  <script src="<%= Routes.static_path(@conn, "/js/runtime-es2015.js") %>" type="module"></script>
  <script src="<%= Routes.static_path(@conn, "/js/runtime-es5.js") %>" nomodule defer></script>
  <script src="<%= Routes.static_path(@conn, "/js/polyfills-es2015.js") %>" type="module"></script>
  <script src="<%= Routes.static_path(@conn, "/js/polyfills-es5.js") %>" nomodule defer></script>
  <script src="<%= Routes.static_path(@conn, "/js/styles-es2015.js") %>" type="module"></script>
  <script src="<%= Routes.static_path(@conn, "/js/styles-es5.js") %>" nomodule defer></script>
  <script src="<%= Routes.static_path(@conn, "/js/vendor-es2015.js") %>" type="module"></script>
  <script src="<%= Routes.static_path(@conn, "/js/vendor-es5.js") %>" nomodule></script>
  <script src="<%= Routes.static_path(@conn, "/js/main-es2015.js") %>" type="module"></script>
  <script src="<%= Routes.static_path(@conn, "/js/main-es5.js") %>" nomodule defer></script>

</body>
</html>
